---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ _ocpsandbox_mcp_user }}-librechat-config"
  namespace: openshift-gitops
spec:
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
  - list:
      elements:
      - user: {{ _ocpsandbox_mcp_user }}
        litemaas_key: {{ ocp4_workload_ocpsandbox_mcp_user_litemaas_key }}
  template:
    metadata:
      name: "librechat-config-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ ocp4_workload_ocpsandbox_mcp_user_librechat_namespace }}"
        server: https://kubernetes.default.svc
      project: {{ ocp4_workload_ocpsandbox_mcp_user_argocd_project }}
      syncPolicy:
        syncOptions:
        - CreateNamespace=false
        automated:
          prune: true
          selfHeal: false
      source:
        repoURL: "{{ ocp4_workload_ocpsandbox_mcp_user_gitea_internal_url }}/{% raw %}{{ user }}{% endraw %}/{{ ocp4_workload_ocpsandbox_mcp_user_gitea_repository }}"
        path: {{ ocp4_workload_ocpsandbox_mcp_user_librechat_config_repo_path }}
        targetRevision: {{ ocp4_workload_ocpsandbox_mcp_user_gitops_repo_tag }}
        helm:
          values: |
            fullnameOverride: librechat-config

            user: "{% raw %}{{ user }}{% endraw %}"
            application_name: librechat
            namespace: "{{ ocp4_workload_ocpsandbox_mcp_user_librechat_namespace }}"

            secrets:
              creds_key: {{ _ocpsandbox_mcp_librechat_key32 }}
              jwt_secret: {{ _ocpsandbox_mcp_librechat_key32 }}
              jwt_refresh_secret: {{ _ocpsandbox_mcp_librechat_key32 }}
              meili_master_key: {{ _ocpsandbox_mcp_librechat_key16 }}
              custom_model_url: {{ ocp4_workload_ocpsandbox_mcp_user_litemaas_url }}
              custom_model_key: "{% raw %}{{ litemaas_key }}{% endraw %}"

            default_user:
              setup: true
              name: "{% raw %}{{ user }}{% endraw %}"
              email: "{% raw %}{{ user }}{% endraw %}@{{ ocp4_workload_ocpsandbox_mcp_user_librechat_email_domain }}"
              password: {{ ocp4_workload_ocpsandbox_mcp_user_librechat_password }}
