---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ _ocpsandbox_mcp_user }}-mcp-openshift"
  namespace: openshift-gitops
spec:
  syncPolicy:
    preserveResourcesOnDeletion: false
  generators:
  - list:
      elements:
      - user: {{ _ocpsandbox_mcp_user }}
  template:
    metadata:
      name: "mcp-openshift-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ ocp4_workload_ocpsandbox_mcp_user_openshift_namespace }}"
        server: https://kubernetes.default.svc
      project: {{ ocp4_workload_ocpsandbox_mcp_user_argocd_project }}
      syncPolicy:
        syncOptions:
        - CreateNamespace=false
        automated:
          prune: true
          selfHeal: false
      source:
        repoURL: "{{ ocp4_workload_ocpsandbox_mcp_user_gitea_internal_url }}/{% raw %}{{ user }}{% endraw %}/{{ ocp4_workload_ocpsandbox_mcp_user_gitea_repository }}"
        path: {{ ocp4_workload_ocpsandbox_mcp_user_openshift_repo_path }}
        targetRevision: {{ ocp4_workload_ocpsandbox_mcp_user_gitops_repo_tag }}
        helm:
          values: |
            fullnameOverride: mcp-openshift
            user: "{% raw %}{{ user }}{% endraw %}"
            namespace: "{{ ocp4_workload_ocpsandbox_mcp_user_openshift_namespace }}"
            image: {{ ocp4_workload_ocpsandbox_mcp_user_openshift_image }}
